@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;800&display=swap');
@import url('http://fonts.cdnfonts.com/css/sansita-one');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* General */
  body {
    @apply 
      font-secondary
      text-secondary-content
  }

  h1 {
    @apply
      font-primary
      text-4xl
  }

  button {
    @apply
      relative
      border-none
      font-primary
      text-2xl
  }

  button::after {
    @apply
      content-['']
      absolute
      right-0 bottom-[-3px]
      w-1/2 h-[1px]
      bg-secondary-content;
    
    transition:
      width ease-out 0.3s,
      height ease-out 0.3s;
  }

  button:hover::after {
    @apply w-full h-1;
  }

  /* Utils */
  .corner-square {
    @apply 
      bg-secondary-content
      w-6 h-6;
  }

  .corner-line {
    @apply 
      bg-secondary-content
      w-16 h-[1px]
      min-w-[16px];
  }

  /* Navbar */
  .nav-item {
    @apply
      before:content-['•']
      before:text-primary-content
      before:mx-2
      first:before:content-none
  }

  /* Sections */
  .section-image-layout {
    @apply
      relative
      w-screen h-[calc(100vh+9rem)]
      bg-secondary-content;
  }

  .section-triangle-layout {
    @apply
      relative
      w-screen h-screen
      z-10
      bg-secondary-layout;
  }

  .section-triangle-layout::before {
    @apply
      content-['']
      absolute
      bottom-full
      w-0 h-0
      border-solid border-b-[4.5rem] border-l-[100vw]
      border-secondary-layout;

    border-left-color: transparent;
    border-top-color: transparent;
  }

  .section-triangle-layout::after {
    @apply
      content-['']
      absolute
      top-full
      w-0 h-0
      border-solid border-b-[4.5rem] border-l-[100vw]
      border-secondary-layout;

    border-right-color: transparent;
    border-bottom-color: transparent;
  }
}
